.nav{
    background-color: rgb(240, 46, 46);
    color: black;


}
.nav2 {
    text-align: center;
}
.row{
    background-color: chartreuse;
    color: black;
    
  
}

.col-12{
    background-color: rgb(240, 46, 46);
    color: black;
    text-align: center;
}
#course{
    background-color: blue;
}
#skills{
background-color: yellow;
padding-bottom: 70vh;

}
#article{
    background-color: red;
}
#c1 {
    background-color: red;
    height: 20vh;
    margin: 10px;
}
#c2 {
    background-color: red;
   height: 20vh;
    margin: 10px;
}